---
title: Recetas

recetas:
  - Caldo De Cordero
  - Causa De Papa
  - Chairo
  - Chuño Phasi
  - Estofado De Loro
  - Lechon De Cordero
  - Lisas Uchu I
  - Lisas Uchu Ii
  - Moraya Phasi Con Queso
  - Papa Q'api
  - Papa Sancochada
  - Sopa De Lisas
  - T´impu
  - Torreja De Papa
  - Torta De Papa
  - Chuño Con Huikuro
  - Papa Con Trucha
  - Wayku
  - Sopa De Papa

layout: default
---

<h1>{{title}}</h1>

<ul>
{{#each recetas}}
  <li><a href="{{slugify this}}.html">{{this}}</a></li>
{{/each}}
</ul>
