---
layout: default
---

{{#if page.filterBy}}

{{/if}}

{{#each page.filterBy}}
  <div class="row">
    <button id="filter-ALL">TODAS</button>

    <input type="text" id="variedad-search" placeholder="Buscar" />

  {{#eachCollectFieldValue ../page.variedades this}}
    <button id="{{slugifyEach this (concat "filter-" ../this "-") }}">
      {{humanize this}}
    </button>
  {{/eachCollectFieldValue}}
  </div>
{{/each}}

<div class="row">
  <div id="{{page.containerId}}">
  {{#eachInField page page.itemsField}}
    {{> body}}
  {{/eachInField}}
  </div>
</div>
